@media (max-width: 1080px) {
  /* Estilos para telas menores que 768px de largura */
  /* Aplique aqui alterações para dispositivos móveis */
}

@media (min-width: 769px) {
  /* Estilos para telas maiores ou iguais a 769px de largura */
  /* Aplique aqui alterações para desktops e tablets */
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  flex-direction: column;
}

#video-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

#texto {
  font-family: "Inter", sans-serif;
  text-align: center;
  left: 100%;
  width: 100%;
  color: #fff;
  font-size: 50px;
  margin-top: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);  
}

#countdown {
  font-family: "Inter", sans-serif;
  font-size: 48px;
  text-align: center;
  color: #ff0000; /* Altere a cor do texto */
  background-color: #91ff00; /* Altere a cor de fundo */
  padding: 20px; /* Adicione um espaçamento interno */
}

#countdown {
  border-radius: 50px;
  position: relative;
  z-index: 1;
  text-align: center;
  color: #fff;
  font-size: 48px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7);
}
